* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}
body {
  margin-top: 10px;
  display: block;
  max-width: 100%;
}
.prada-logo {
  padding-left: 20px;
  display: flex;
  float: left;
}
.nav-menu-area {
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
}
.menu {
  display: flex;
  list-style-type: none;
}
.menu li a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.user-btn {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.search-box {
  margin-right: 5px;
}
.card-title-a {
  font-weight: bold;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  padding-top: 30px;
}
.card-title-b {
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: bold;
  padding-top: 40px;
}
.card-title-c {
  margin-top: 230px;
}

.card {
  border: none !important;
  margin-bottom: 10px;
}

.product-detail-img {
  display: flex;
  justify-content: flex-end;
}
.product-info {
  font-size: 20px;
  margin-bottom: 10px;
}
.drop-down {
  margin-top: 20px;
}

.add-button {
  margin-top: 20px;
  width: 100%;
}
